$color-orange:#F27405;
$bg-color:#0e0e1b;
$color-white:#BFBFBF;
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  .containerSection {
    
    width: 100%;
    border-bottom: 1px solid rgb(192, 192, 192);
    
    .sectionDisplay {
      display: flex;
      justify-content: center;
      margin-left: 10px;
      align-items: center;
      width: 100%;
      .imgContainer {
        width: 500px;
      }

      .content {
       
        .star {
          display: flex;
          align-items: center;

          .icon {
            color: $color-orange;
            font-size: 30px;
            
          }

          h2 {
            border-bottom: 2px solid $color-orange;
            font-size: 23px;
            text-transform: uppercase;
            font-weight: 400;
            margin-left: 10px;
          }
        }

        p {
          max-width: 600px;
          line-height: 32px;
          font-size: 17px;
          font-weight: 300;
          margin-top: 30px;
        }

        .btns {
          display: flex;
          a {
            text-decoration: none;
          }
          .button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
            background-color: $bg-color;
            padding: 10px;
            border-radius: 10px;
            width: 160px;
            color: $color-white;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          }

          .buttonGit {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
            background-color: $bg-color;
            padding: 10px;
            border-radius: 10px;
            width: 160px;
            color: $color-white;
            margin-left: 30px;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
  
}

@media only screen and (max-width: 600px) {

  $color-orange:#F27405;
$bg-color:#0e0e1b;
$color-white:#BFBFBF;
.container {
  display: block;
  margin: 0;
  padding: 0;
  .containerSection {
      display: block;
      
    
    .sectionDisplay {
      display: flex;
      width: 100%;
      margin-left: 0;
      
      .imgContainer {
          display: block;
        
          // background-color: #F27405;
          width: 200px;
      }

      .content {
        display: block;
        // background-color: #F27405;
        .star {
          display: block;

          .icon {
            
            
          }

          h2 {
            
          }
        }

        p {
          display: block;
        }

        .btns {
          
          a {
            
          }
          .button {
            display: block;
          }

          .buttonGit {
            margin-left: 0;
          }
        }
      }
    }
  }
  
}
  
}
    
    

