$bg-color: #0e0e1b;
$color-hover:#F27405;
$color-text:#BFBFBF;
$color-icons:#F27405;

.container {

  
  background-color: $bg-color;
  min-width: 350px;
  border-radius: 10px;
  height: 200px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  
  &:hover {
    border-bottom: 6px solid $color-hover;
  }
  .containerCard {
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    color: $color-text;

    // DENTRO DO CARD
    .card {
      
      // width: 100%;
      margin-top: 40px;
      .iconCard {
        text-align: center;
        font-size: 35px;
        color: $color-icons;
      }

      .textCard {
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
  
}
@media only screen and (max-width: 600px) {
  .container {
   margin-top: 30px;

  }
}