.container {
  background-color: rgb(192, 192, 233);
  min-width: 300px;
  border-radius: 10px;
  height: 30vh;
  cursor: pointer;
  .containerCard {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
      margin-top: 40px;
      .iconCard {
        text-align: center;
        font-size: 35px;
      }
    }
  }
}
