$bg-color:#e5e6e7;
$color-text:#F27405;
.container {
  background-color:$bg-color;
  width: 100%;
  
    
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    
    h2 {
      font-weight: 400;
      border-bottom: 2px solid $color-text;
      letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 50px;

        span{
            color: $color-text;
            font-size: 32px;
        }
    }
  }
  
}
@media only screen and (max-width: 600px) {
    .container {
      background-color: BLUE;
    }
  }