.container {
  background-color: #e5e6e7;
  width: 100%;
 
    
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    
    h2 {
      font-weight: 400;
      border-bottom: 2px solid #b16940;
      letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 50px;

        span{
            color: #b16940;
            font-size: 32px;
        }
    }
  }
}
