$color-hover:#F27405;
$color-text:#BFBFBF;
$bg-color:#0e0e1b;
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $bg-color;
  color: $color-text;
  padding-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;

  .containerFooter {
    max-width: 1200px;

    .icons {
      display: flex;
      justify-content: center;
      margin-top: 100px;
      font-size: 35px;
      a {
        color:$color-text;
        padding: 15px;
        &:hover {
          color: $color-hover;
        }
      }
    }

    .textFooter {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        color: $color-text;
        margin: 15px;
        margin-top: 20px;
        &:hover {
          color: $color-hover;
        }
      }
    }

    a {
      text-decoration: none;
    }

    .termos {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
