$color-orange: #b16940;

.containerSobre {
  background-color: #e5e6e7;
  height: 100vh;

  .container {
    width: 100%;
    // margin: 0px 30px 0px 30px;
    padding: 20px;

    .titleSobre {
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 30px;
        border-bottom: 2px solid $color-orange;
        span {
          color: $color-orange;
        }
      }
    }

    .textSobre {
      line-height: 32px;
      margin-top: 30px;
      font-weight: 300;
      // margin-left: 30px;
    }
    .textInline {
      display: flex;
      align-items: center;
      font-weight: 300;
      span {
        font-weight: 800;
        font-size: 50px;
        letter-spacing: 3px;
        margin-right: 10px;
        color: $color-orange;
      }
    }

    .cardsDoSobre {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
    }

    .borda {
      margin-top: 140px;
      border-bottom: 1px solid rgb(192, 192, 192);
    }
  }
}
