$color-orange: #b16940;

.containerSobre {
  background-color: #e5e6e7;
  height: 100vh;

  .container {
    max-width: 1200px;
    margin-left: 50px;

    .titleSobre {
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 30px;
        border-bottom: 2px solid $color-orange;
        span {
          color: $color-orange;
        }
      }
    }

    .textSobre {
      line-height: 32px;
      margin-top: 30px;
    }
    .textInline {
      display: flex;
      align-items: center;
      span {
        font-weight: 800;
        font-size: 50px;
        letter-spacing: 3px;
        margin-right: 10px;
        color: $color-orange;
      }
    }

    .cardsDoSobre {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }
  }
}
